# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules*
/.pnp
.pnp.js

# production
/log
/build
/dist
/locales
test.js

# msic
.DS_Store

# .env
.env.locale
.env.development.locale
.env.test.local
.env.production.local

# customFiles
*.db
